.main__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    color: wheat;
    filter: drop-shadow(2px 4px 5px black);
}

.main__subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-top: 25px;
    color: wheat;
    filter: drop-shadow(2px 4px 5px black);
}

.boton__nuevo{
    filter: drop-shadow(3px 4px 5px black);
}

.main__cargando_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;   
    font-weight: 700;
}

.talbe__conteiner{
    background-color: black;
    filter: drop-shadow(2px 4px 6px black);
}

.talbe-contenido{
    color: white;
    filter: drop-shadow(3px 3px 2px black);
}

.boton__actions{
    filter: drop-shadow(2px 4px 3px black);
}

.main__conteiner-description{
    display: flex;
    justify-content: space-between;
    color: wheat;
    font-size: 18px;
    font-weight: 700;
    filter: drop-shadow(2px 4px 3px black);
}

.main__text-end{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 50px;
}

.turno--proximo{
    margin-top: 25px;
    justify-content: center !important;
    gap: 80px;
}

.main__proximo{
    background-color: #7a3f3f !important;
    color: white !important;
    width: 30%;
    text-align: center;
}

.main__pasado{
    width: 18rem;
    background-color: #7a3f3f !important;
    color: white !important;
    text-align: center;
}

.main__listadoturno{
    display: flex;
    margin-top: 50px;
    gap: 80px;
    margin-bottom: 60px;
}

.main__containerto{
    justify-content: center !important;
}

.table-row-hover:hover {
    background-color:  #7a3f3f; /* Fondo durante el hover */
}

.table-row-hover:hover td {
    color: #fff !important;
}

.dash__card{
    max-width: 18rem;
    background-color: #7a3f3f; 
    }

.card-header--titulo{
    color: wheat;
    font-size: 16px;
    font-weight: 700;
    filter: drop-shadow(2px 4px 4px black);
    font-family: 'Montserrat', sans-serif;
}
.main__boton--orden{
    background-color: #7a3f3f;
    filter: drop-shadow(2px 4px 4px black);
    margin-bottom: 20px;
    color: white;
}

.main__nohay{
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 20px;
    font-weight: 900;
}